*{
    font-family: cursive;
}
body {
    text-align: center;
    font-size: 10px;
}
.header{
    height: 60px;
    text-align: left;
    background-color: #5C6376;
    padding: 5px;
}
.headerbody{
    max-width:660px;
    margin: 0 auto;
}
.logo {
    width: 150px;
    height: 50px;
    margin-top: 5px;
}
.title{
    text-align: center;
    display: inline-block;

    font-size: 14px;
    color: white;
}

.page-container{
    /* max-width: 660; */
    text-align:center;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.containers{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 10px;
}

.left {
    width: 455px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    padding-left: 0px;
    max-width: 100%;
}

.right{
    width: 40px;
    display: inline-block;
    height: 100px;
    vertical-align: top;
}

.center{
    width: 200px;
    display:inline-block;
    text-align: center;
    vertical-align: top;
    border: 1px solid #5C6376;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

input#txtExpense {
    width: 91px;
}
textarea#txtNotes {
    width: 186px;
    resize: none;
}
input#btnSave {
    vertical-align: bottom;
}
.error{
	color : red;
	display : inline-block;

	height: 20px;
	width: 100%;
}
ul#categoryList {
list-style: none;
margin: 0px;
text-align: left;
padding: 0px;
max-height: 450px;
overflow-y: auto;
}

#categoryList label {
width: 112px;
display: inline-block;
}
#tableHeader th {
 text-align: left;
 font-weight: normal;
}
table#expenseTable {
    width: 100%;
    border: 1px solid #5C6376;
    font-size: 14px;
}
.delete {
    background-image: url(/ExpenseManager/images/close_btn.png);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    width: 50px;
    background-size: 15px 15px;
}
div#addCategory {
    width: 100%;
}
#categoryList li {
    padding-left: 12px;
}
#categoryList li:nth-child(odd), #expenseTable tr:nth-child(odd) {
    background-color: #5C6376;
    color: white;
}
#categoryList li:nth-child(even), #expenseTable tr:nth-child(even) {
    background-color: #CACACA;
}
#expenseTable th:nth-child(3),#expenseTable td:nth-child(3) {
    width: 40%;
    padding-left: 5px;
}
#expenseTable td:nth-child(2){
    text-align: right;
}
input#btnAddCategory {
    margin-left: -7px;
}
#addExpense > div:nth-child(1) {
    max-width: 200px;
    display: inline-block;
}
#addExpense div:nth-child(3) {
    display: inline-block;
    vertical-align: top;
}
input[type=text], textarea {
    padding-left: 3px;
}
#graph {
    width: 500px;
    height: 500px;
    display: inline-block;
}
#graphMenu {
	margin-top: 10px;
	margin-bottom: 10px;
}
.graphMenuItem {
	display: inline-block;
	border: 1px solid #4A3E9B;
	padding: 5px;
	cursor: pointer;
}
.graphSubMenuItem {
	display: inline-block;
	margin: 5px;
	margin-right: 10px;
}
.graphSubMenuItem>div {
	padding: 6px;
	border: 1px solid #CACACA;
	border-radius: 3px;
}
.memoItem {
    width: 205px;
    height: auto;
    min-height: 205px;
    display: inline-block;
    margin-bottom: 20px;
    background-image : url('/ExpenseManager/images/sticky.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-left: 39px;
    padding-top: 33px;
    box-sizing: border-box;
}
.memoItem > .header {
    height: 20px;
    text-align: center;
    /* color: white; */
    background-color: rgba(255, 124, 124, 0);
    border-bottom: 1px solid #CACACA;
}
.details th {
    font-size: 14px;
}
.details td {
    font-size: 11px;
}

.details td:nth-child(2) {
    text-align : right;
}
