<script type="text/template" id="expenseItem">
	<tr>
		<td>{{categoryName}} </td>
		<td>{{amount}} </td>
		<td>{{notes}} </td>
		<td><input type="button" value="Delete"/>
			<input type="hidden" value="{{id}}"/>
		</td>
	</tr>
</script>